.bk-loading {
	padding: 1.25rem;
	text-align: center;
	
	i {
		color: var(--main-focus-color);
	}

	&.bk-loading-md {
		font-size: 7.5rem;
	}
}

#map {
	height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
	height: 100%;
}