.bk-button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: $global-border-radius--md;
	transition: all .3s ease;

	&:hover, &:focus, &:active {
		background-color: var(--main-hover-color);
	}
}

.bk-button-icon {
	font-size: $global-font-size--lg;
	width: $global-dim-size--sm;
	height: $global-dim-size--sm;
	cursor: pointer;
	transition: all .3s ease;

	&.bk-active, &:hover, &:focus, &:active {
		.bk-icon {
			color: var(--main-focus-color);
		}
	}
	
	&.bk-button-disabled {
		.bk-icon {
			color: var(--button-disabled-color);
		}
	}
}

.bk-map-buttons {
    position: absolute;
    z-index: 1;
    bottom: 1.25rem;
    width: 100%;
    display: flex;
	justify-content: center;

	.bk-down-link {
		border-radius: 3.125rem;
		background-color: var(--main-bg-color);
		justify-content: center;
		flex-direction: row;
		display: flex;	
		box-shadow: 0 0.0625rem 2px rgba(0,0,0,0.15);
		transition: transform 0.5s ease-in-out;


		a {
			cursor: pointer;
			display: flex;
			text-align: center;
			flex-direction: column;
			justify-content: center;
			letter-spacing: 0rem;
		}

	}
}

.bk-action-button {
	height: $global-dim-size--sm;
    //width: 8rem;
    background-color: transparent;
    border: 1px solid var(--main-focus-color);
	border-radius: 0.3125rem;
	transition: all .3s ease;

	&:hover, &:active, &:focus {
		background-color: var(--main-focus-color);
		color: var(--main-bg-color);
	}
}