.bk-sortby-buttons {
	flex-grow: 0;
    display: flex;
	justify-content: center;
	
	.bk-sortby-button {
		margin: 0 $global-space--xs;
	}
}

.bk-card-empty {
	text-align: center;
}

.bk-cards-container {
	display: flex;
	flex-grow: 2;

	.bk-cards-row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);

		.bk-card-container {
			margin: 0;

			.bk-card {
				outline: none;
				border: none;
				padding: $global-space--xs;
				height: 100%;
				display: flex;
				flex-direction: column;
				background: none;
				cursor: pointer;
				box-sizing: border-box;
				text-align: center;
				transition: all .3s ease;

				&:hover, &:focus, &:active {
					background-color: var(--main-hover-color);
					.bk-icon, p, strong {
						color: var(--main-focus-color);
					}
				}

				.bk-card-info {
					flex-basis: 80%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					p {
						margin-top: 0;
						margin-bottom: $global-space--xs;
						&:last-child {
							margin-bottom: 0;
						}
					}

					.bk-icon {
						font-size: $global-font-size--sm;
					}
				}

				.bk-card-status {
					flex-basis: 20%;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
		}
	}
}

.bk-pagination-controls-container {
	flex-grow: 0;

	.bk-pagination-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.bk-control-back {
			margin-right: $global-space--xs;
		}

		.bk-control-pages {
			margin: 0 $global-space--xs 0 $global-space--xs;
			display: flex;
    		flex-direction: column;
    		justify-content: center;
			
			div {
				text-align: center;
				
				span {
					margin: 0 $global-space--xs 0 $global-space--xs;
					font-size: $global-font-size--lg;

					&.bk-control-page-active {
						color: var(--main-focus-color);
					}
				}
			}
		}

		.bk-control-forward {
			margin-left: $global-space--xs;
		}
	}
}