.bk-cards-container {
	display: flex;
	height: 425px;

	.bk-cards-row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: 10px;

		.bk-card-container {
			margin: 0;

			.bk-card {
				outline: none;
				border: none;
				font-size: 1em;
				padding: 10px;
				height: 100%;
				display: flex;
				flex-direction: column;
				background: none;
				cursor: pointer;
				box-sizing: border-box;
				text-align: center;
				transition: all .3s ease;

				&:hover, &:focus, &:active {
					background-color: $base-hover-color;
					.bk-icon, p, strong {
						color: $focus-color;
					}
				}

				.bk-card-info {
					flex-basis: 80%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					p {
						margin-top: 0;
						margin-bottom: 5px;
						&:last-child {
							margin-bottom: 0;
						}
					}

					.bk-icon {
						font-size: inherit;
					}
				}

				.bk-card-status {
					flex-basis: 20%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.bk-icon {
						font-size: 2em;
					}
				}
			}
		}
	}
}

.bk-pagination-controls-container {
	.bk-pagination-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.bk-control-back {
			margin-right: 5px;
		}

		.bk-control-pages {
			margin: 0px 5px 0px 5px;
			display: flex;
    		flex-direction: column;
    		justify-content: center;
			height: 40px;
			
			span {
				text-align: center;
				
				span {
					margin: 0px 10px 0px 10px;
				}

				&.bk-control-page-active {
					color: $focus-color;
				}
			}
		}

		.bk-control-forward {
			margin-left: 5px;
		}
	}
}