.bk-conquerors-container {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
	justify-content: center;

	.bk-conqueror-container {
		width: auto;
		height: auto;
		display: flex;
		flex-basis: 25%;
		padding-bottom: 10px;
		flex-direction: column;
		justify-content: center;

		.bk-conqueror-img-container {
			text-align: center;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.bk-conqueror-img {
				display: flex;
				justify-content: center;
				height: $conqueror-image-size;
				width: $conqueror-image-size;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: $base-hover-color;
				border-radius: 50px;
				overflow: hidden;

				.bk-conqueror-initials {
					font-size: 1.75em;
					letter-spacing: 0em;
				}
			}
		}
	
		.bk-conqueror-name {
			text-align: center;
			font-size: 1.25em;
		}
	}
}