.bk-conquerors-container {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	flex-grow: 1;

	.bk-conqueror-container {
		width: auto;
		height: auto;
		display: flex;
		flex-basis: 25%;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;

		.bk-conqueror-img-container {
			text-align: center;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.bk-conqueror-img {
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: $conqueror-image-size;
				width: $conqueror-image-size;
				background-color: $base-hover-color;
				border-radius: 6.25rem;
				overflow: hidden;

				.bk-conqueror-initials {
					font-size: 1rem;
					letter-spacing: 0rem;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	
		.bk-conqueror-name {
			text-align: center;
			
			p {
				font-size: 0.75rem;
			}
		}
	}
}