.bk-container {
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg-color);
}

.bk-heading-container {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: var(--main-bg-color);
	padding: $global-space--sm 0;
	z-index: 1;

	.bk-heading {
		display: flex;
		flex-direction: row;
		height: 100%;

		.bk-heading-item {
			flex-grow: 1;

			&:first-child {
				margin: 0 0 0 $global-font-size--xxl;
			}

			&:last-child {
				margin: 0 $global-font-size--xxl 0 0;
			}

			.bk-header {
				text-align: center;
			}
		}
	}
}

.bk-sections-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	.bk-section:first-child {
		margin-top: 0;
		height: 35rem;
	}

	.bk-section {
		position: relative;
		min-height: 35rem;
		display: flex;
		flex-direction: column;
		background-color: var(--main-bg-color);

		> div[class*="container"] {
			padding: $global-space--xs;
		}
	}
}