$base-color: #eaeaea;
$base-background-color: #2e2e2e;
$button-disabled-color: rgba(255, 255, 255, 0.23);
$focus-color: #00ffff;

.bk-dark {
	* {
		color: $base-color;
	}
	
	background-color: $base-background-color;

	.bk-heading-container {
		background-color: $base-background-color;
	}

	.bk-section {
		background-color: $base-background-color;
	}

	.bk-search-container {
		input.bk-search-field {
			border-bottom: 1px solid $base-color;
			background-color: $base-background-color;

			&:focus, &:active {
				border-bottom-color: $focus-color;
			}
		}
	}

	.bk-nav-container {
		.bk-nav-control {	
			& + .bk-nav {	
				.bk-nav-list {
					background-color: $base-background-color;
				}
			}
		}
	}

	.bk-link {
		color: $base-color;

		&:hover, &:focus, &:active {
			color: $focus-color;
		}
	}

	.bk-down-link {
		background-color: $base-background-color;
	}

	.bk-loading {		
		i {
			color: $focus-color;
		}
	}

	.bk-button-icon {	
		&.bk-active, &:hover, &:focus, &:active {
			.bk-icon {
				color: $focus-color;
			}
		}

		&.bk-button-disabled {
			.bk-icon {
				color: $button-disabled-color;
			}
		}
	}

	.bk-cards-container .bk-cards-row .bk-card-container .bk-card {
		&:hover, &:focus, &:active {
			.bk-icon, p, strong {
				color: $focus-color;
			}
		}
	}

	.bk-link {	
		&:hover, &:focus, &:active {
			color: $focus-color;
	
			.bk-icon {
				color: $focus-color;
			}
		}
	}

	.bk-pagination-controls-container {
		.bk-pagination-controls {
			.bk-control-pages {
				span {
					&.bk-control-page-active {
						color: $focus-color;
					}
				}
			}
		}
	}
}