@import './variables';
@import './base';
@import './button';
@import './cards';
@import './conqueror';
@import './container';
@import './icon';
@import './link';
@import './nav';
@import './search';

//@media all and (width: 1280px) {}
//@media all and (width: 980px) { ... }
//@media all and (width: 736px) {}

@media all and (max-width: 480px) {
	.bk-search-container .bk-search-field-container input.bk-search-field {
		width: 6.25rem;
		margin: 0 0 0 $global-space--xxs;

		&.bk-search-expanded {
			width: 6.25rem;
		}		
	}
	
	h1 {
		font-size: $global-font-size--xl;
	}

	.bk-sections-container {	
		.bk-section:nth-child(2) {
			height: 70rem;
		}
	}

	.bk-heading-container {
		.bk-heading {
			.bk-heading-item {
				&:first-child {
					margin: 0 0 0 $global-space--xs;
				}
	
				&:last-child {
					margin: 0 $global-space--xs 0 0;
				}
			}
		}
	}

	.bk-cards-container {
		.bk-cards-row {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
		}
	}
	
	.bk-conquerors-container {
		.bk-conqueror-container {
			flex-basis: 33%;

			.bk-conqueror-img-container {
				.bk-conqueror-img {
					height: $global-dim-size--lg;
					width: $global-dim-size--lg;

				}
			}
		}
	}
}