@import './variables';
@import './base';
@import './button';
@import './cards';
@import './conqueror';
@import './container';
@import './icon';
@import './link';
@import './nav';
@import './search';

//@media all and (width: 1280px) {}
//@media all and (width: 980px) { ... }
//@media all and (width: 736px) {}

@media all and (max-width: 480px) {
	.bk-search-container .bk-search-field-container input.bk-search-field {
		width: 6.25rem;
		margin: 0 0 0 0.3125rem;

		&.bk-search-expanded {
			width: 6.25rem;
		}		
	}
	
	h1 {
		font-size: 1.5rem;
	}

	a, p {
		letter-spacing: 0.15rem;
	}

	.bk-sections-container {	
		.bk-section:nth-child(2) {
			height: 70rem;
		}
	}

	.bk-heading-container {
		.bk-heading {
			.bk-heading-item {
				&:first-child {
					margin: 0 0 0 0.625rem
				}
	
				&:last-child {
					margin: 0 0.625rem 0 0;
				}
			}
		}
	}

	.bk-cards-container {
		.bk-cards-row {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
		}
	}
	
	.bk-conquerors-container {
		.bk-conqueror-container {
			flex-basis: 33%;

			.bk-conqueror-img-container {
				.bk-conqueror-img {
					height: 3.125rem;
					width: 3.125rem;
					border-radius: 1.5625rem;
				}
			}
		}
	}
}