.bk-nav-container {
	bottom: 0;
	position: relative;

	.bk-nav-control {
		position: relative;

		& + .bk-nav {
			position: absolute;

			&.bk-nav-hidden {
				display: none;
			}

			.bk-nav-list {
				display: flex;
				flex-direction: column;
				background-color: var(--main-bg-color);
				padding: 0;
				width: $bk-nav-list-width;
				box-shadow: 0 0.0625rem 2px rgba(0,0,0,0.15);
				margin: 0;
			
				.bk-nav-list-item {
					height: 2.1875rem;
					display: flex;

					&:last-child {
						border-bottom: none;
					}

					a {
						padding: 0.625rem;
						width: 100%;

						.bk-icon {
							font-size: $basic-text-font-size;
						}
					}
				}
			}
		}
	}
}