.bk-nav-container {
	bottom: 0;
	position: relative;

	.bk-nav-control {
		position: relative;

		& + .bk-nav {
			position: absolute;

			&.bk-nav-hidden {
				display: none;
			}

			.bk-nav-list {
				display: flex;
				flex-direction: column;
				background-color: var(--main-bg-color);
				padding: 0;
				box-shadow: 0 $global-space--xxs 2px rgba(0,0,0,0.15);
				margin: 0;
			
				.bk-nav-list-item {
					display: flex;

					&:last-child {
						border-bottom: none;
					}

					a {
						padding: $global-space--xs $global-space--lg $global-space--xs;
						white-space: nowrap;
						width: 100%;

						.bk-icon {
							font-size: $global-font-size--sm;
						}
					}
				}
			}
		}
	}
}