.bk-search-container {
	.bk-search-field-container {
		display: flex;
		justify-content: flex-end;

		input.bk-search-field {
			border: none;
			padding: 0;
			margin: $global-space--xs 0 $global-space--xs $global-space--xxs;
			width: $search-field-width;
			border-bottom: 1px solid var(--main-color);
			background-color: var(--main-bg-color);

			&.bk-search-expand-animation {
				width: 0;
				transition: width .3s ease;
			}

			&.bk-search-expanded {
				width: $search-field-width;
			}

			&:focus, &:active {
				background-color: var(--main-hover-color);
				border-bottom-color: var(--main-focus-color);
			}
		}
	}

	.bk-search-result-dropdown-container {
		position: absolute;
		top: 4.6875rem;
		height: 400px;
		width: 300px;
		overflow: scroll;
		box-shadow: 0 0.0625rem 2px rgba(0,0,0,0.15);

		.bk-search-results {
			padding: $global-space--xs;
			margin: 0;
			background-color: #fdfdfd;

			.bk-search-result {
				padding: $global-space--xs $global-space--xs 0 $global-space--xs;
				transition: all .3s ease;

				&:hover {
					background-color: var(--main-hover-color);
				}

				.bk-search-result-container {
					padding-bottom: $global-space--xs;
		
					p {
						margin: $global-space--xxs;

						&:last-child {
							opacity: .75;
						}
					}
				}
			}
		}
	}
}