$base-hover-color: rgba(#cacaca, 0.25);
$base-color: #212121;
$focus-color: #0070F0;

$border-color: #dadada;
$base-background-color: #fdfdfd;
$button-disabled-color: rgba(#212121, 0.23);

$button-icon-size: 2.5rem;
$button-border-radius: 1.25rem;
$search-field-width: 15.625rem;
$conqueror-image-size: 6.25rem;


$h1-font-size: 2rem;
$h1-letter-spacing: 1rem;

$basic-text-font-size: 0.75rem;

$text-letter-spacing: 0.1875rem;

$heading-item-first: 0 0 0 1.875rem;
$heading-item-second: 0 1.875rem 0 0;

$heading-container-height: 4.6875rem;
$bk-button-icon-font-size: 1.25rem;
$bk-nav-list-width: 15.625rem;