/* CSS Variables */
:root {
	--main-bg-color: #fdfdfd;
	--main-hover-color: rgba(202, 202, 202, 0.25);
	--main-color: #212121;
	--main-focus-color: #0070F0;
	--main-border-color: #dadada;
	--button-disabled-color: rgba(33, 33, 33, 0.23);
}

.bk-dark {
	--main-color: #eaeaea;
	--main-bg-color: #2e2e2e;
	--button-disabled-color: rgba(255, 255, 255, 0.23);
	--main-focus-color: #00ffff;
}

/* Sass Variables */
$button-icon-size: 2.5rem;
$button-border-radius: 1.25rem;
$search-field-width: 15.625rem;
$conqueror-image-size: 6.25rem;


$h1-font-size: 2rem;
$h1-letter-spacing: 1rem;

$basic-text-font-size: 0.75rem;

$text-letter-spacing: 0.1875rem;

$heading-item-first: 0 0 0 1.875rem;
$heading-item-second: 0 1.875rem 0 0;

$heading-container-height: 4.6875rem;
$bk-button-icon-font-size: 1.25rem;
$bk-nav-list-width: 15.625rem;